name: Deploy app to GitHub Pages

on:
  # Runs on pushes to any branch when changes are made to docs or workflow
  push:
    branches:
      - main
    paths:
      - "sitzverteilung-frontend/**"
      - ".github/workflows/deploy-gh-pages.yml"

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Build pages
        uses: it-at-m/lhm_actions/action-templates/actions/action-build-docs@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          docs-path: "sitzverteilung-frontend"
          dist-path: "dist"
      - name: Deploy pages
        uses: it-at-m/lhm_actions/action-templates/actions/action-deploy-docs@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
