name: Build all

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin
    strategy:
      fail-fast: false
      matrix:
        include:
          - app-path: sitzverteilung-frontend

    steps:
      - uses: it-at-m/lhm_actions/action-templates/actions/action-checkout@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
      - if: ${{ hashFiles(format('./{0}/package.json', matrix.app-path))!=null }}
        id: node
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-build@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          app-path: ${{ matrix.app-path }}