name: Release NPM

on:
  workflow_dispatch:
    inputs:
      release-version:
        type: choice
        description: "Select version increment type (follows Semantic Versioning)"
        required: true
        options:
          - patch
          - minor
          - major
      app-path:
        type: choice
        description: "Select the node service to release"
        required: true
        default: sitzverteilung-frontend
        options:
          - sitzverteilung-frontend # Add or modify frontend paths according to your project structure
jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    outputs:
      ARTIFACT_NAME: ${{ steps.node.outputs.artifact-name }}
      ARTIFACT_VERSION: ${{ steps.npm_release.outputs.ARTIFACT_VERSION }}
    steps:
      - id: npm_release
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-release@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          app-path: ${{ inputs.app-path }}
          releaseVersion: ${{ inputs.release-version }}
      - id: node
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-build@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          app-path: ${{ inputs.app-path }}
  create-github-release:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: it-at-m/lhm_actions/action-templates/actions/action-create-github-release@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          artifact-name: ${{ needs.release.outputs.ARTIFACT_NAME }}
          tag-name: ${{ inputs.app-path }}-${{ needs.release.outputs.ARTIFACT_VERSION }}
